.DS_Store
config
demo
dist
node_modules

.babelrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
server.js

yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
